.SellNftContainer{
    width: 100%;
    .sell_block_cont{
        margin-top: 30px;
    }
    .title{
        text-align: center;
        margin-top: 99px;
    }
    .sold_nft_items_cont{
        margin-top: 30px;
    }
}