.Socials{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .iconContainer{
        width: 40px;
        height: 40px;
        border: 1px solid #52325A;
        box-sizing: border-box;
        border-radius: 100%;
        transition: all ease-in .2s;
        &:hover{
            background-color: #FF465B;
            svg{
                path{
                    fill: #000;
                }
            }
        }
        .Twitter{
            svg{
                margin-top: 12px;
            }
        }
        .Discord{
            svg{
                margin-top: 9px;
            }
        }
        .GitHub{
            svg{
                margin-top: 10px;
            }
        }
    }
}